{{ define "http/aro-hcp/environment-release.html" }}

<html>
<head>
    <title>{{.environmentName}} {{.release.Name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <style>
        h1 { font-size: 2rem; margin-bottom: 1rem }
        h2 { font-size: 1.5rem; margin-top: 2rem; margin-bottom: 1rem  }
        h3 { font-size: 1.35rem; margin-top: 2rem; margin-bottom: 1rem  }
        h4 { font-size: 1.2rem; margin-top: 2rem; margin-bottom: 1rem  }
        h3 a { text-transform: uppercase; font-size: 1rem; }
        .mb-custom {
            margin-bottom: 0.5rem !important; /* use !important to override other margin-bottom styles */
        }
        table, th, td {
            border: 1px solid;
            padding: 5px;
        }
        details {
            padding-left: 2em; /* Indents the text inside H3 by 2 em units */
        }
    </style>

</style>
</head>

<body>
{{ $componentNameToDetails := .componentNameToDetails }}
{{ $changedComponentNameToDetails := .changedComponentNameToDetails }}

<div class="container">

    <p><a href="/">Back to index</a></p>
    <div class="mb-custom">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="m-0">Environment: {{.environmentName}}, Release: {{.environmentReleaseInfo.ReleaseName}}</h1>
            </div>
        </div>
    </div>
    <p>
        <a href="busted">Link to source control</a> for your operating system or run
        Team Approvals:
            <br><ul></ul><br>
    <p>Tests:</p>
        <ul>
            <li>
                Blocking jobs
                <ul>
{{/*                    <li><a class="text-success" href="https://prow.ci.openshift.org/view/gs/test-platform-results/logs/aggregated-aws-ovn-upgrade-4.20-minor-release-openshift-release-analysis-aggregator/1950073994744958976">aggregated-aws-ovn-upgrade-4.20-minor Succeeded</a> periodic-ci-openshift-release-master-ci-4.20-upgrade-from-stable-4.19-e2e-aws-ovn-upgrade</li>*/}}
                </ul>
            </li>
            <li>
                Informing jobs
                <ul>
{{/*                    <li><a class="text-success" href="https://prow.ci.openshift.org/view/gs/test-platform-results/logs/periodic-ci-openshift-hypershift-release-4.20-periodics-e2e-aks/1950095766957592576">hypershift-e2e-aks Succeeded</a> <span class="text-warning">(1 retries)</span> periodic-ci-openshift-hypershift-release-4.20-periodics-e2e-aks</li>*/}}
                </ul>
            </li>
        </ul>
{{if .prevEnvRelease}}
    <h2>Changes from <a target="_blank" href="/http/aro-hcp/environmentreleases/{{.prevEnvReleaseNameURLEscaped}}/summary.html">{{.prevEnvRelease.Name}}</a></h2>
{{else}}
    <h2>Changes from: no prior release found</h2>
{{end}}

<p>Created: TODO-time-here</p>

<p>SHA: TODO-code-link-here</p>

<h3>Components</h3>
{{range $changedComponentName := .changedComponentNames}}
    {{ index $changedComponentNameToDetails $changedComponentName }}
{{end}}

    <div class="alert alert-info" id="coreos-base-alert">
        <p> Change comparison release
            <form class="form-inline" method="GET">
                <select name="from" class="form-control mr-2">
                    <option value="">Select release to compare</option>
                    {{range .allEnvironmentReleases}}
                        <option value="{{.Name}}">{{.Environment}} {{.ReleaseName}}</option>
                    {{end}}
                </select>

                <input class="btn btn-link" type="submit" value="Compare">
            </form>
        </p>
    </div>


<h2>All Content</h2>
<h3>Components</h3>

{{range $componentName := .componentNames}}
    {{ index $componentNameToDetails $componentName }}
{{end}}
</div>
</body>
</html>

{{ end }}
